@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.board {
  border: 5px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0;
  font-size: 25px;
}

.right { border-right: 5px solid black !important; }
.bottom { border-bottom: 5px solid black !important; }
.cell {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

input.cell {
  outline: none;
  border-radius: 0;
}

.cell:focus {
  background-color: #f0f7ff;
}

.is-invalid, .is-invalid input {
  background-color: #ffcccc !important;
  color: red !important;
  font-weight: bold;
}