@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
  font-family: Montserrat sans-serif;
}

td{
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
}

.first_index{
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.top_index{
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid black;
  font-size: 20px;
}

.left_index{
  border-right: 3px solid black;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-size: 20px;
}

.board{
  border: 3px solid black;
  padding: 3px;
  margin: 0 auto;
  max-width: fit-content;
}

.right{
  border-right: 3px solid black;
}

.bottom{
  border-bottom: 3px solid black;
}

.rb{
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.cell{
  width: 95%;
  height: 95%;
  font-size: 25px;
  text-align: center;
  background: transparent;
}

.cell:focus{
  outline: none;
}

.is-valid {
    background-color: #d4edda !important;
    color: #155724 !important;
}

.is-invalid {
  background-color: #ffcccc !important;
  color: red !important;
  font-weight: bold;
}

.initial-cell {
    background-color: #e9ecef !important;
    font-weight: bold;
    color: #212529;
}

.cell.is-invalid {
    background-color: #ffcccc !important;
    border: 2px solid #dc3545 !important;
    color: #721c24;
}

td.is-invalid {
    background-color: #ffe6e6;
}

.cell.is-correct {
    background-color: #d4edda !important;
    border: 2px solid #28a745 !important;
    color: #155724;
}

td.is-correct {
    background-color: #e7f5e9;
}

.cell {
    transition: all 0.3s ease;
}

.cell.is-invalid {
    background-color: #ffcccc !important;
    border: 2px solid #dc3545 !important;
    animation: shake 0.3s;
}

td.is-invalid {
    background-color: #ffe6e6;
}

.cell.is-valid {
    background-color: #d4edda !important;
    border: 2px solid #28a745 !important;
}

td.is-valid {
    background-color: #e7f5e9;
}

.cell {
    transition: all 0.3s ease;
}

.cell::-webkit-outer-spin-button,
.cell::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cell[type=number] {
    -moz-appearance: textfield;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

@media (max-width: 800px) {
  td {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }

  .cell {
    height: 30px;
    width: 30px;
    font-size: 18px;
  }

  .top_index, .left_index {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  td {
    height: 20px;
    width: 20px;
    font-size: 12px;
  }

  .cell {
    height: 25px;
    width: 25px;
    font-size: 12px;
  }
  .top_index, .left_index {
    font-size: 14px;
  }
}