@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
  font-family: Montserrat sans-serif;
}

td{
  height: 50px;
  width: 50px;
  text-align: center;
  border: 2px solid black;
  font-size: 25px;
}

.first_index{
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.top_index{
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid black;
  font-size: 20px;
}

.left_index{
  border-right: 5px solid black;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  font-size: 20px;
}

.board{
  border: 5px solid black;
  padding: 5px;
}

.right{
  border-right: 5px solid black;
}

.bottom{
  border-bottom: 5px solid black;
}

.rb{
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.cell{
  height: 45px;
  width: 45px;
  font-size: 25px ;
  text-align: center;
}

.cell:focus{
  outline: none;
}

.is-invalid {
  background-color: #ffcccc !important;
  color: red !important;
  font-weight: bold;
}