{% load form_extras %}

<table class="board" align="center">
    <tr>
        <td class="first_index"></td>
        {% for i in "123456789" %}
            <td class="top_index">{{ i }}</td>
        {% endfor %}
    </tr>

    {% for row in "ABCDEFGHI" %}
    <tr>
        <td class="left_index">{{ row }}</td>
        {% for col in "123456789" %}
            {% with key=row|add:col %}
            <td class="{% if col in '36' %}right{% endif %} {% if row in 'CF' %}bottom{% endif %}">
                {% if grid %}
                    <input type="text" class="cell initial-cell" value="{{ grid|get_item:key }}" readonly>
                {% elif form %}
                    {{ form|get_field:key }}
                {% endif %}
            </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>