{% load form_extras %}

<table class="board" align="center">
    {% for row in "ABCDEFGHI" %}
    <tr>
        {% for col in "123456789" %}
            {% with key=row|add:col %}
{#            <td class="cell-container {% if col in '36' %}right{% endif %} {% if row in 'CF' %}bottom{% endif %}">#}
{#                {% if form %}#}
{#                    {% with field=form|get_field:key %}#}
{#                        <div class="{% if key in wrong_cells %}is-invalid{% endif %}">#}
{#                            {{ field }}#}
{#                        </div>#}
{#                    {% endwith %}#}
{#                {% else %}#}
{#                    <div class="cell">#}
{#                        {{ grid|get_item:key|default:"" }}#}
{#                    </div>#}
{#                {% endif %}#}
            <td class="{% if col in '36' %}right{% endif %} {% if row in 'CF' %}bottom{% endif %}">
                {% if form %}
                    {% with field=form|get_field:key %}
                        {{ field }}
                    {% endwith %}
                {% endif %}
            </td>

            </td>
            {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>